@font-face {
  font-family: Unity;
  src: url('fonts/SharpUnity-Book.tff')  format('truetype');
}

:host {
  display: block;
  height: 100vh;
  background: url("http://cdn.c.photoshelter.com/img-get2/I0000T68qXEObvf0/fit=1000x750/Stock-06-05-06-003.jpg") no-repeat;
  background-size: cover;
  font-family: Unity, sans-serif;
}

.container {
  padding-top: 50px;
}
h1, .timer {
  text-align: center;
  background-color: #0057B8;
  color: #fff;
  padding: 5px;
}

.timer {}

img {
  margin-left: 15%;
  height: auto;
  width: 70%;
}
